
.breadcrumb {
    background-color: #F4F4F4;
    border: 1px solid #EAEAEA;
}
.box {
    background-color: #FFF;
    border: 1px solid #EEE;
    padding: 20px;
}
.boxRounded {
    background-color: #FFF;
    margin-bottom: 15px;
    padding: 15px;
    -moz-border-radius-top-right: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-radius: 5px;
    border: 0px solid #EEE;
}
.boxDark {
    background-color: #F4F4F4;
    border: 0px solid #EAEAEA;
}
.boxDark hr {
    border-top: 0px solid #E4E4E4;
    border-bottom: 0px solid #FCFCFC;
}

.centered {
    text-align: center;
}
.left {
    text-align: left;
}
.dropdown {
    text-align:left;
}
.hide {
    display: none;
}
#homeBreadcrumb i.icon-home {
    margin-top: 1px;
    margin-right: 4px;
}

.red {
    color: red;
}

p.tab{
    padding: 0 40px; /* Or desired space*/
}

#xmlModal {
    width: 80% !important;
    left: 35% !important;


    .modal-body {
        max-height: none;
        text-align: center;
    }
}
