.btn-small i.icon-remove {
    margin-top: 1px;
}
.addPropertiesBox {
    min-height: 200px;
}
.addPropertiesBox button {
    margin-bottom: 10px;
}

#surveyXml {
    margin: auto;
    width: 80%;
    height: 380px;
    text-align: left;
}
pre {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}